<ng-container *ngIf="!editFlag; else saved">
<form [formGroup]="formNumber" (submit)="saveMoney()">
  <button class="action-btn"
          type="button"
          mat-raised-button
          color="primary"
          (click)="addMoney()"
          [disabled]="editFlag"
  >
    добавить
  </button>
  <mat-error *ngIf="getControls().length == 0">
    Для заполнения формы нажмите кнопку "добавить"
  </mat-error>
  <div *ngFor="let control of getControls(); let i = index" formGroupName="money">
    <label>ЗП на работе {{i + 1}}</label>
    <input class="input" type="number" [formControlName]="i" >
    <button mat-icon-button color="warn" (click)="remove(i)" >
      <mat-icon>delete</mat-icon>
    </button>
  </div>

  <div *ngIf="flagData; else dataBtn">
    <button mat-button matStepperPrevious>Назад</button>
    <button mat-button matStepperNext type="submit">Сохранить</button>
  </div>
  <ng-template #dataBtn>
    <button mat-raised-button color="primary" type="submit">Сохранить изменения</button>
  </ng-template>
</form>
</ng-container>
<ng-template #saved>
  <h2>Успешно изменено !</h2>
</ng-template>
