<ng-container *ngIf="!editFlag; else saved">
  <form [formGroup]="formInput" (submit)="saveWork()">
    <button class="action-btn"
            type="button"
            mat-raised-button color="primary"
            (click)="addWork()"
            [disabled]="editFlag"
    >
      добавить
    </button>
    <mat-error *ngIf="formInput.get('works')?.errors?.['required']">
      Для заполнения формы нажмите кнопку "добавить"
    </mat-error>
    <div *ngFor="let control of getControls(); let i = index" formGroupName="works">
      <label>Работа {{i + 1}}</label>
      <input class="input" type="text" [formControlName]="i">
      <button mat-icon-button color="warn" (click)="remove(i)">
        <mat-icon>delete</mat-icon>
      </button>
    </div>
    <div *ngIf="flagData; else dataBtn">
      <button mat-button matStepperPrevious>Назад</button>
      <button mat-button matStepperNext type="submit">Сохранить</button>
    </div>
    <ng-template #dataBtn>
      <button mat-raised-button
              color="primary"
              type="submit"
      > Сохранить изменения </button>
    </ng-template>
  </form>
</ng-container>
<ng-template #saved>
  <h2>Успешно изменено !</h2>
</ng-template>
