<ng-container *ngIf="!editFlag; else saved">
  <input class="input" type="text" #inputValue>
  <button mat-icon-button (click)="addSelect(inputValue)">
    <mat-icon>add</mat-icon>
  </button>
  <mat-error *ngIf="!skills.length; else select">
    Добавьте свои навыки и в появившимся селекте выберите ключевой навык.
    Чтобы скинуть свои навыки нажмите кнопку "Сбросить список"
  </mat-error>
  <ng-template #select>
    <mat-form-field appearance="outline">
      <mat-label>Ваши ключевые навыки</mat-label>
      <mat-select [(ngModel)]="selectedValue">
        <mat-option *ngFor="let skill of skills; let i = index"
                    [value]="skill.value"
                    (click)="onBest(i)"
        >
          {{skill.value}}
          <!--      <button mat-icon-button (click)="removeOption(i)">-->
          <!--        <mat-icon>close</mat-icon>-->
          <!--      </button>-->
        </mat-option>
      </mat-select>
    </mat-form-field>
    <p>Главный навык: {{selectedValue ? selectedValue : 'Выбери из селекта'}}</p>
  </ng-template>
  <div *ngIf="flagData; else dataBtn">
    <button mat-button matStepperPrevious (click)="cencel()">Сбросить список</button>
    <button mat-button matStepperNext>Сохранить</button>
  </div>
  <ng-template #dataBtn>
    <button mat-raised-button
            color="primary"
            (click)="emitSelect()"
    >Сохранить изменения</button>
  </ng-template>
</ng-container>
<ng-template #saved>
  <h2>Успешно изменено !</h2>
</ng-template>
