@import '~@angular/material/prebuilt-themes/indigo-pink.css';

html, body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  background: -webkit-linear-gradient(90deg, #ccd5ae, #fefae0, #faedcd); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(90deg, #ccd5ae, #fefae0, #faedcd); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.container-fluid {
  max-width: 600px;
  margin: 0 auto;
  padding: 10px;
  background-color: transparent;


  mat-form-field {
    width: 100%;
    margin: 5px 0;
  }

  ul{
    list-style: none;
  }

  .action-btn {
    width: 100%;
    margin: 10px auto;
  }

  .input{
    width: 350px;
    height: 30px;
    margin-bottom: 10px;
  }

}
