<label>Ваши качества</label>
<input class="input" type="text" #inputValue>
<button mat-icon-button (click)="addAbout(inputValue)">
  <mat-icon>add</mat-icon>
</button>
<mat-error *ngIf="!about.length; else checkboxVew">
  Добавьте свои качества и отметьте галочкой те, которые вы считаете выдающимися.
</mat-error>
<ng-template #checkboxVew>
  <ul *ngFor="let skill of about; let i = index">
    <li>
      <mat-checkbox class="example-ripple-checkbox"
                    (click)="onBest(i, checkbox)"
                    #checkbox
      >{{skill.value}}</mat-checkbox>
      <button mat-icon-button color="warn" (click)="deleteSkill(i)">
        <mat-icon>delete</mat-icon>
      </button>
    </li>
  </ul>
</ng-template>
<div>
  <button mat-button matStepperPrevious>Назад</button>
  <button mat-button matStepperNext (click)="saveAbout()">Сохранить</button>
</div>
